{% extends 'admin/index.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
    <h1>Tarifs</h1>

    <a class="btn btn-secondary mb-1" href="{{ path('admin_tarif_new') }}">Créer un nouveau tarif</a>

    <table class="table">
        <thead>
            <tr>
                <th>Adulte</th>
                <th>Prix Adulte</th>
                <th>Enfant</th>
                <th>Prix Enfant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.adult }}</td>
                <td>{{ tarif.adultprice }}</td>
                <td>{{ tarif.chid }}</td>
                <td>{{ tarif.childprice }}</td>
                <td>
                    <a class="btn btn-secondary mb-1" href="{{ path('admin_tarif_show', {'id': tarif.id}) }}">Voir</a>
                    <a class="btn btn-secondary mb-1" href="{{ path('admin_tarif_edit', {'id': tarif.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
