{% extends 'layout.html.twig' %}

{% block title %}Artistes{% endblock %}

{% block body %}
    <section class="container">
        <h1>Liste des Artistes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>A propos de l'artiste</th>
                <th>Image</th>
                <th>Spécialité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for artiste in artistes %}
                <tr>
                    <td>{{ artiste.name }}</td>
                    <td>{{ artiste.content }}</td>
                    <td>
                        <img src="{{ asset( '/build/'~artiste.image ) }}" class="card-img"
                             alt="Image d'un artiste">
                    </td>
                    <td>{{ artiste.specialite }}</td>
                    <td>
                        <a class="btn btn-secondary mb-1" href="{{ path('user_artiste_show', {'id': artiste.id}) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
