{% extends 'layout.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <section class="container">
        <h1>Artiste</h1>

        <a class="btn btn-secondary mb-1" href="{{ path('artiste_index') }}">Retour</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ artiste.name }}</td>
            </tr>
            <tr>
                <th>Spécialité</th>
                <td>{{ artiste.specialite }}</td>
            </tr>
            <tr>
                <th>A propos de l'artiste</th>
                <td>{{ artiste.content }}</td>
            </tr>
            <tr>
                <th>Photo(s)</th>
                <td>
                    <img src="{{ asset( '/build/'~artiste.image ) }}" class="card-img"
                         alt="Image d'un artiste">
                </td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
